<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


     <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    
    <!-- 给类起别名 -->
    <typeAliases>
        <typeAlias type="com.core.pojo.Customer" alias="customer"/>
        <typeAlias type="com.core.pojo.User" alias="user"/>
        <typeAlias type="com.core.pojo.BaseDict" alias="baseDict"/>
    </typeAliases>
    
	<mappers>
		  <mapper resource="com/core/dao/UserDao.xml"/>
		  <mapper resource="com/core/dao/CustomerDao.xml"/>
		   <mapper resource="com/core/dao/BaseDictDao.xml"/>
	</mappers>
</configuration>