<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


 <!--当Spring中声明这个配置的时候，应用默认不会拦截静态资源  -->
   <mvc:default-servlet-handler default-servlet-name="default"/>
   
   <mvc:resources location="/js/" mapping="/js/**" />
    <mvc:resources location="/css/" mapping="/css/**" />
    <mvc:resources location="/fonts/" mapping="/fonts/**" />
    <mvc:resources location="/images/" mapping="/images/**" />	
  
   <context:annotation-config/>
   <context:property-placeholder location="classpath:resource.properties"/>
   
   <!-- 扫描包 -->
   <context:component-scan base-package="com.core.service"/>
   
   <!-- 扫描包 -->
   <context:component-scan base-package="com.core.controller" />
   
   <!-- 注解 -->
   <mvc:annotation-driven />
   
  
     
     <!-- 定义视图解析器 -->
	<bean class=
    "org.springframework.web.servlet.view.InternalResourceViewResolver">
	     
	     <!-- 设置前缀 -->
	     <property name="prefix" value="/" />
	     <!-- 设置后缀 -->
	     <property name="suffix" value=".jsp" />
	     
	</bean>
	
	<!-- 配置拦截器
		<mvc:mapping path="/**"/> 拦截所有请求
		
		配置bean
		<bean class="com.core.interceptor.LoginInterceptor"/>
		
	 -->
	<mvc:interceptors>
		  <mvc:interceptor>
		       <mvc:mapping path="/**"/>
		       <bean class="com.core.interceptor.LoginInterceptor"/>
		  </mvc:interceptor>
	</mvc:interceptors>
</beans>



